.container {
  margin: 1rem;
}

.page {
  min-height: 100vh;
}

.profile {
  position: relative;
  width: 100%;
  height: 320px;
}
.profile img {
  border-radius: 0.25rem;
}

@media screen and (min-width: 600px) {
  .container {
    margin: 4rem 10rem;
  }

  .profile {
    width: 450px;
    height: 450px;
  }
  .profile img {
    border-radius: 50%;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 4rem;
  }
}
